/*-----------------------------------------
				Styles
-----------------------------------------*/
.box {
    margin: 10px;
    padding: 5px;
    background-color: #e8f1f9;
}
.floated {
    float: right;
    margin: 5px;
}

