/*-----------------------------------------
			Template Rules
-----------------------------------------*/
body {
    background: url("/images/gradient-background.jpg") no-repeat fixed top center;
    background-size: cover;

}

.headerDiv {
    font-style: oblique;
    margin: auto;
    text-align: center;
    padding-top: 4px;

}

.firstDiv {
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 700px;
    min-height: 400px;
    border: 2px solid;

}
.form-style-1 .field-divided{
    width: 49%;
}
.form-style-1 .required{
    color:red;
}

.selectButton {
    background: #f2eaf2;
    background-image: -webkit-linear-gradient(top, #f2eaf2, #f5ebf5);
    background-image: -moz-linear-gradient(top, #f2eaf2, #f5ebf5);
    background-image: -ms-linear-gradient(top, #f2eaf2, #f5ebf5);
    background-image: -o-linear-gradient(top, #f2eaf2, #f5ebf5);
    background-image: linear-gradient(to bottom, #f2eaf2, #f5ebf5);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    font-family: Arial;
    color: #1c041c;
    font-size: 20px;
    padding: 18px 19px 18px 19px;
    border: solid #1f628d 3px;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    display: inline-block;
    float: left;
    width: 165px;

}

.selectButton:hover {
    background: #0097f5;
    background-image: -webkit-linear-gradient(top, #0097f5, #3498db);
    background-image: -moz-linear-gradient(top, #0097f5, #3498db);
    background-image: -ms-linear-gradient(top, #0097f5, #3498db);
    background-image: -o-linear-gradient(top, #0097f5, #3498db);
    background-image: linear-gradient(to bottom, #0097f5, #3498db);
    text-decoration: none;
}

.selectFrame {
    margin: 0 auto;
    width: 530px;
}

.form-style-1 {
    margin: 10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.form-style-1 label {
    margin: 0 0 3px 0;
    padding: 0px;
    display: block;
    font-weight: bold;
}

.form-style-1 input[type=text] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    margin: 0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

.form-style-1 input[type=text]:focus {
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}

.form-style-1 .field-divided {
    width: 49%;
}

.form-style-1 .field-long {
    width: 100%;
}

.form-style-1 input[type=submit],
.form-style-1 input[type=button] {
    background: #f2eaf2;
    padding: 8px 15px 8px 15px;
    border: solid #1f628d 2px;
}

.form-style-1 input[type=submit]:hover ,
.form-style-1 input[type=button]:hover {
    background: #0097f5;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.resultTable {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 0;
    text-align: center;
    margin: 0 auto;
}

.resultTable td, th {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-collapse: collapse;
}

.resultTableHeader {
    font-weight: bold;
}

a {
    color: brown;


}

.inputSubmit {
    background: #f2eaf2;
    border: solid #1f628d 1px;
    margin: 5px;

}

.inputSubmit:hover {
    background: #0097f5;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    cursor: pointer;


}

#massage {
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

.backDiv{
    clear: both;
    width: 100%;
    text-align: center;
}

.backDiv a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

.backDiv a:hover {
    color: burlywood;
    text-decoration: underline;
}

.backDiv a:visited {
    color: black;
}

.contentDiv {
    min-height: 280px;
}
.resultTable input[type=text]{
    background: none;
    border: none;
    width: 100px;
    text-align: center;
}





